{% extends "base.html" %}
{% load static %}
{% block content %}
<h3 class="insider">Reserva de Nome</h3>
<p class="insider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, soluta. A illum totam dolore et quasi error, saepe nihil? Ab animi velit, tempore optio recusandae eos sequi laboriosam totam perferendis!</p>
<div class="steps-container">
  <hr>
  <div id="stepProgressBar">
    <div class="step">
      <a href="" class="bullet actual">1</a>
    </div>
    <div class="step">
      <a href="" class="bullet">2</a>
    </div>
    <div class="step">
      <a href="" class="bullet">3</a>
    </div>
    <div class="step">
      <a href="" class="bullet">4</a href="">
    </div>
    <div class="step">
      <a href="" class="bullet">5</a>
    </div>
  </div>
</div>
<span class="step-title">Passo 1</span>
<h3 class="insider">Consulta de Nome</h3>
<p class="insider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae explicabo eum ipsa optio ab aliquam error voluptates, velit et repellat facere laboriosam quia ipsam. Perferendis quaerat impedit atque minus amet?</p>
<form class="check-name" action="{% url 'name_application:check' %}" method="post" data-check-url="{% url 'name_application_api:available' %}">
    {% csrf_token %}
    <div class="form-label">
      <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
    </div>
    <div class="input-button">
      <input type="text" name="name" id="{{ form.name.id_for_label }}">
      <button disabled type="submit" class="inline-button">Buscar</button>
    </div>

    <div class="warning red">
        <div>
            <img src="{% static 'icons/exclamation.svg' %}" class="exclamation" alt="">
        </div>
        <div class="text-util">
          <h4>
            O nome que você consultou não está disponível.
            <br>
            Por favor consulte por outro nome.
          </h4>
        </div>
    </div>

    <div class="warning green">
        <div>
            <img src="{% static 'icons/check.svg' %}" class="check" alt="">
        </div>
        <div class="text-util">
          <h4>
            O nome que você consultou está disponível.
          </h4>
        </div>
    </div>

</form>

<script type="text/javascript">
  const manageWarning = (status) => {
    console.log("Running manageWarning with", status);  // TODO remove
    const available = document.querySelector(".warning.green");
    const notAvailable = document.querySelector(".warning.red");
    const submit = document.querySelector("button");

    if (status === undefined) {
      available.style.display = 'none';
      notAvailable.style.display = 'none';
      submit.disabled = true;
    } else if (status === true) {
      available.style.display = 'flex';
      notAvailable.style.display = 'none';
      submit.disabled = false;
    } else if (status === false) {
      available.style.display = 'none';
      notAvailable.style.display = 'flex';
      submit.disabled = true;
    }
  };

  const checkName = () => {
    const form = document.forms[0];
    if (form.name.value.length < 3) {
        return manageWarning(undefined);
    }

    const data = new FormData();
    data.append('name', form.name.value);
    data.append('csrfmiddlewaretoken', form.csrfmiddlewaretoken.value);

    const request = new XMLHttpRequest();
    request.open("POST", form.dataset.checkUrl, true);
    request.send(data);
    request.onload = () => {
      if (request.status !== 200) {
        return undefined;
      }

      const data = JSON.parse(request.response);
      return manageWarning(data.available);
    };
  };

  const addEventListeners = () => {
    document.forms[0].name.addEventListener("keyup", checkName);
    checkName();
  };

  if (document.readyState !== "loading"){
    addEventListeners()
  } else {
    document.addEventListener('DOMContentLoaded', addEventListeners);
  }
</script>

{% endblock %}
