{% extends "base.html" %}
{% load static %}
{% block content %}
<h3 class="insider">Reserva de Nome</h3>
<p class="insider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, soluta. A illum totam dolore et quasi error, saepe nihil? Ab animi velit, tempore optio recusandae eos sequi laboriosam totam perferendis!</p>
<div class="steps-container">
  <hr>
  <div id="stepProgressBar">
    <div class="step">
      <a href="" class="bullet completed">1</a>
    </div>
    <div class="step">
      <a href="" class="bullet completed">2</a>
    </div>
    <div class="step">
      <a href="" class="bullet completed">3</a>
    </div>
    <div class="step">
      <a href="" class="bullet actual">4</a href="">
    </div>
    <div class="step">
      <a href="" class="bullet">5</a>
    </div>
  </div>
</div>
<span class="step-title">Passo 4</span>
<h3 class="insider">Pedido de Reserva Efetuado</h3>
<strong class="insider">O pedido de registro do 'Nome Solicitado' foi enviado com sucesso</strong>
<p class="insider">Um agente do [departamento] irá analisar seu pedido e você receberá um email confirmando se sua reserva foi efetuada.</p>
<p class="insider bold">O pagamento somente será cobrado quando sua reserva for aprovada.</p>

<div class="warning brown">
    <div>
        <img src="{% static 'icons/envelope.svg' %}" class="envelope" alt="">
    </div>
    <div class="text-util">
      <h4>
        O processo de verificação do registro de nome pode levar até 48 horas. <br>
        Você receberá um email quando processarmos seu pedido.
      </h4>
    </div>
</div>

{% endblock %}
