{% extends "base.html" %}
{% load static %}
{% block content %}
<h3 class="insider">Reserva de Nome</h3>
<p class="insider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, soluta. A illum totam dolore et quasi error, saepe nihil? Ab animi velit, tempore optio recusandae eos sequi laboriosam totam perferendis!</p>
<div class="steps-container">
  <hr>
  <div id="stepProgressBar">
    <div class="step">
      <a href="" class="bullet completed">1</a>
    </div>
    <div class="step">
      <a href="" class="bullet completed">2</a>
    </div>
    <div class="step">
      <a href="" class="bullet actual">3</a>
    </div>
    <div class="step">
      <a href="" class="bullet">4</a href="">
    </div>
    <div class="step">
      <a href="" class="bullet">5</a>
    </div>
  </div>
</div>
<span class="step-title">Passo 3</span>
<h3 class="insider">Pagamento</h3>
<strong class="insider">O pagamento somente será cobrado quando sua reserva for  aprovada.</strong>
<p class="insider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae explicabo eum ipsa optio ab aliquam error voluptates, velit et repellat facere laboriosam quia ipsam. Perferendis quaerat impedit atque minus amet?</p>

<form class="pay-name-application" action="{% url 'name_application:pay' %}" method="post">
  {% csrf_token %}
  <div class="form-label">
    <label for="{{ form.name.id_for_label }}" required>{{ form.name.label }}</label>
    <input type="text" name="name" id="{{ form.name.id_for_label }}">
    {{ form.name.errors }}
  </div>
  <div class="form-label">
    <label for="{{ form.number.id_for_label }}" required>{{ form.number.label }}</label>
    <input type="text" name="number" id="{{ form.number.id_for_label }}">
    {{ form.number.errors }}
  </div>
  <div class="same-row">
    <div class="form-label">
      <label for="{{ form.expiry.id_for_label }}" required>{{ form.expiry.label }}</label>
      <input type="text" name="expiry" id="{{ form.expiry.id_for_label }}">
      {{ form.expiry.errors }}
    </div>
    <div class="form-label">
      <label for="{{ form.cvv.id_for_label }}" required>{{ form.cvv.label }}</label>
      <input type="text" name="cvv" id="{{ form.cvv.id_for_label }}">
      {{ form.cvv.errors }}
    </div>
  </div>
  <div class="align-right">
    <button type="submit">Confirmar pedido de reserva de nome</button>
  </div>
</form>
{% endblock %}
