{% extends "base.html" %}
{% load static %}
{% block content %}
<h3 class="insider">Reserva de Nome</h3>
<p class="insider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, soluta. A illum totam dolore et quasi error, saepe nihil? Ab animi velit, tempore optio recusandae eos sequi laboriosam totam perferendis!</p>
<div class="steps-container">
  <hr>
  <div id="stepProgressBar">
    <div class="step">
      <a href="" class="bullet completed">1</a>
    </div>
    <div class="step">
      <a href="" class="bullet actual">2</a>
    </div>
    <div class="step">
      <a href="" class="bullet">3</a>
    </div>
    <div class="step">
      <a href="" class="bullet">4</a href="">
    </div>
    <div class="step">
      <a href="" class="bullet">5</a>
    </div>
  </div>
</div>
<span class="step-title">Passo 2</span>
<h3 class="insider">Requisição de Nome</h3>
<p class="insider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae explicabo eum ipsa optio ab aliquam error voluptates, velit et repellat facere laboriosam quia ipsam. Perferendis quaerat impedit atque minus amet?</p>

<form class="send-name-application" action="{% url 'name_application:send' %}" method="post">
  {% csrf_token %}
  <div class="form-label">
    <label for="{{ form.applicant.id_for_label }}" required>{{ form.applicant.label }} *</label>
    <input type="text" name="applicant" id="{{ form.applicant.id_for_label }}">
  </div>
  <div class="form-label">
    <label for="{{ form.dob.id_for_label }}" required>{{ form.dob.label }} *</label>
    <input type="text" name="dob" id="{{ form.dob.id_for_label }}">
  </div>
  <div class="form-label">
    <label for="{{ form.nationality.id_for_label }}">{{ form.nationality.label }}</label>
    <select name="nationality" id="{{ form.nationality.id_for_label }}">
      <option value="" default>-----</option>
      {% for nationality in nationality_list %}
      <option value="{{ nationality.0 }}">{{ nationality.1 }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-label">
    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
    <input type="text" name="email" id="{{ form.email.id_for_label }}">
  </div>
  <div class="align-right">
    <button type="submit">Enviar</button>
  </div>
</form>

{% endblock %}
