{% extends "base.html" %}
{% load static %}
{% block content %}
<h3 class="insider">Reserva de Nome</h3>
<p class="insider">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, soluta. A illum totam dolore et quasi error, saepe nihil? Ab animi velit, tempore optio recusandae eos sequi laboriosam totam perferendis!</p>
<div class="steps-container">
  <hr>
  <div id="stepProgressBar">
    <div class="step">
      <a href="" class="bullet completed">1</a>
    </div>
    <div class="step">
      <a href="" class="bullet completed">2</a>
    </div>
    <div class="step">
      <a href="" class="bullet completed">3</a>
    </div>
    <div class="step">
      <a href="" class="bullet completed">4</a href="">
    </div>
    <div class="step">
      <a href="" class="bullet actual">5</a>
    </div>
  </div>
</div>
<span class="step-title">Passo 6</span>
<h3 class="insider">Reserva Efetuada</h3>
<h4 class="insider information">O nome Acme Inc. foi registrado com sucesso.</h4>

<strong>O pagamento foi realizado.</strong><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, praesentium. Provident molestias amet adipisci. Facere minus rerum ducimus porro libero. Placeat quam qui maiores quaerat laudantium. Tenetur, obcaecati illo. Fuga.</p>

{% endblock %}
